{% extends "base.html" %}

{% block content %}

<h1>HTML Basic Examples</h1>

<div class="top-nav">
    <a class="btn" href="/html-editors">❮ Previous</a>
    <a class="btn right" href="/html-elements">Next ❯</a>
</div>

<p class="desc">In this chapter we will show some basic HTML examples.</p>
<p class="desc">Don't worry if we use tags you have not learned about yet.</p>

<hr>

<h2>HTML Documents</h2>

<p>All HTML documents must start with a document type declaration: <b>&lt;!DOCTYPE html&gt;</b>.</p>
<p>The HTML document itself begins with <b>&lt;html&gt;</b> and ends with <b>&lt;/html&gt;</b>.</p>
<p>The visible part of the HTML document is between <b>&lt;body&gt;</b> and <b>&lt;/body&gt;</b>.</p>

<div class="code-box">
<pre>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;body&gt;

&lt;h1&gt;My First Heading&lt;/h1&gt;
&lt;p&gt;My first paragraph.&lt;/p&gt;

&lt;/body&gt;
&lt;/html&gt;
</pre>
<button>Try it Yourself »</button>
</div>

<hr>

<h2>The &lt;!DOCTYPE&gt; Declaration</h2>

<p>The &lt;!DOCTYPE&gt; declaration represents the document type.</p>
<p>It must only appear once, at the top of the page.</p>

<div class="code-box">
<pre>
&lt;!DOCTYPE html&gt;
</pre>
</div>

<hr>

<h2>HTML Headings</h2>

<p>HTML headings are defined with the &lt;h1&gt; to &lt;h6&gt; tags.</p>

<div class="code-box">
<pre>
&lt;h1&gt;This is heading 1&lt;/h1&gt;
&lt;h2&gt;This is heading 2&lt;/h2&gt;
&lt;h3&gt;This is heading 3&lt;/h3&gt;
</pre>
<button>Try it Yourself »</button>
</div>

<hr>

<h2>HTML Paragraphs</h2>

<p>HTML paragraphs are defined with the &lt;p&gt; tag.</p>

<div class="code-box">
<pre>
&lt;p&gt;This is a paragraph.&lt;/p&gt;
&lt;p&gt;This is another paragraph.&lt;/p&gt;
</pre>
<button>Try it Yourself »</button>
</div>

<hr>

<h2>HTML Links</h2>

<p>HTML links are defined with the &lt;a&gt; tag.</p>

<div class="code-box">
<pre>
&lt;a href="https://www.w3schools.com"&gt;This is a link&lt;/a&gt;
</pre>
<button>Try it Yourself »</button>
</div>

<hr>

<h2>HTML Images</h2>

<p>HTML images are defined with the &lt;img&gt; tag.</p>

<div class="code-box">
<pre>
&lt;img src="img.jpg" alt="image" width="100" height="100"&gt;
</pre>
<button>Try it Yourself »</button>
</div>

<hr>

<h2>How to View HTML Source</h2>

<p><b>View HTML Source Code:</b> Right-click and select "View Page Source".</p>
<p><b>Inspect Element:</b> Right-click and select "Inspect".</p>

<div class="top-nav">
    <a class="btn" href="/html-editors">❮ Previous</a>
    <a class="btn right" href="/html-elements">Next ❯</a>
</div>

{% endblock %}